.title {
    text-align: center;
}

.subtitle {
    color: #fff;
    text-align: center;
}

.section {
    background-color: rgb(135, 193, 216);
    border-radius: 1rem;
    padding: 2rem 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 2rem 3rem;
    gap: 1rem;
}
.input {
    padding: .5rem 10rem .5rem .3rem;
    border: none;
    border-radius: 5px;
}
.register-btn {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}
.button {
    padding: .5rem 2rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(71, 174, 222);
    color: #fff;
}